//COLORS

$principal-color: #DD3F3B;
$secondary-color: #1190C5;

$body-bg: #FCFCFC;
$font-color: #53575A;
$black: #282D31;
$white: #FFF;
$border-color: #DFE0E0;

$max-width: 1024px;

$small: 480px;
$medium: 768px;
$large: 1024px;
