extends ../includes/template

block movies
  header.main-header
    h1.main-header__title Movies
    .main-header__categories
      a.main-header__link.thriller(href="#") Thriller
      a.main-header__link.drama(href="#") Drama
      a.main-header__link.reset(href="#") Reset

  .movies-container
